/* 3. TABLO için External CSS */
table.external {
  border-collapse: collapse;
  width: 60%;
  margin-top: 20px;
  background-color: #fff3e0;
}
table.external th, table.external td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
table.external th {
  background-color: #ffcc80;
}

/* Daireler */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
