body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #b993d6, #8ca6db);
}

.weather-container {
  background-color: white;
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-container h1 {
  margin-bottom: 20px;
  color: #5a2d82;
}

.weather-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.weather-info p {
  font-size: 16px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #5a2d82;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.result-box {
  margin-top: 30px;
  padding: 24px;
  border-radius: 18px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  text-align: center;

  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.4s ease-in-out;
}

.result-title {
  margin-bottom: 14px;
  font-size: 20px;
}

.result-info p {
  margin: 6px 0;
  font-size: 15px;
}

/* Yumuşak giriş animasyonu */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
